* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.search-form-conteiner {
  background-color: #c8c8c8;
  padding: 20px;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-input {
  width: 300px;
  height: 50px;
  padding: 20px 10px;
  margin-right: 25px;
  font-size: 20px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.search-form-input:hover,
.search-form-input:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.search-form-button {
  width: 150px;
  height: 50px;
  font-size: 20px;

  border: 1px solid #eeeeee;
  border-radius: 5px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.search-form-button:hover,
.search-form-button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery {
  align-items: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  background-color: #f5f4fa;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px 5px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.info {
  justify-content: space-between;
  padding: 20px;
  display: flex;
}

.info-item {
  font-size: 14px;
  text-align: center;
}

.load-more {
  display: none;
  width: 150px;
  height: 50px;
  font-size: 20px;

  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}
.load-more:hover,
.load-more:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.is-hidden {
  display: block;
}
.container {
  padding: 20px;
}
